<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaotianyue.mapper.ArticleMapper">
	<resultMap type="com.zhaotianyue.bean.Article" id="aa">
		<association property="channel" select="findChannel" column="channel_id" javaType="com.zhaotianyue.bean.Channel">
		
		</association>
		<association property="category" select="findCatigory"  column="category_id" javaType="com.zhaotianyue.bean.Category">
		
		</association>
	</resultMap>
	<select id="list" resultMap="aa">
		SELECT a.id,a.title,a.created,a.`commentCnt`,u.username username FROM cms_article a 
		LEFT JOIN cms_user u ON  a.`user_id`=u.`id`
		<where>
			<if test="con.t1!='' and con.t1!=null">
				a.created>=#{con.t1}
			</if>
			<if test="con.t2!='' and con.t2!=null">
				and a.created &lt;=#{con.t2}
			</if>
		</where>
		  ORDER BY 
		  	<if test="sortt==1">
		  		a.created
		  	</if>
		  	<if test="sortt==2">
		  		u.id
		  	</if>
		  	<if test="sortt==3">
		  		a.commentCnt
		  	</if>
		   DESC
	</select>
	
	<!-- 获取频道 -->
	<select id="findChannel" resultType="com.zhaotianyue.bean.Channel">
		SELECT id,name FROM cms_channel WHERE id=#{id}
	</select>
	<!-- 获取分类 -->
	<select id="findCatigory" resultType="com.zhaotianyue.bean.Category">
		SELECT id,name FROM cms_category WHERE id=#{id}
	</select>
	<select id="findUser" resultType="com.zhaotianyue.bean.User">
		select * from cms_user where id=#{id}
	</select>


</mapper>